rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if true;
    }
    match /rooms/{roomId} {
      allow read, write, create, update, delete: if true;
      
      match /players/{playerId} {
        allow read, write: if true;
      }
    }
    match /word_bank/{wordId} {
      allow read, write: if true;
    }
    match /suggestions/{suggestionId} {
      allow read, write: if true;
    }
  }
}
